body{
    background-image: url("/src/imgs/Fruit.jpg");
    background-size: cover;
    background-attachment: fixed;
}
.success, .error {
    color: white;
    padding: 5px;
    margin: 5px 0 15px 0;
}

.success {
    background: green;
}

.error {
    background: red;
}